# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
env/
venv/
ENV/

# Database & SQLite
*.sqlite3
db.sqlite3

# Static & Media files
staticfiles/
media/

# Pytest / Coverage
.pytest_cache/
.coverage
htmlcov/

# IDE & OS
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db

# Celery
celerybeat-schedule
celerybeat.pid

# Logs
*.log
